<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>

<h1>Your Picture:</h1>
<img src="./public/pics/{{.}}">

<form method="post" enctype="multipart/form-data">
    <input type="file" value="Upload" name="nf">
    <input type="submit" value="Submit">
</form>

</body>
</html>

